/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===================================================
*
*  Webfont Title: Yaku Han JP
*  Author: Qrac
*  URL: https://twitter.com/Qrac_jp
*  "Noto Sans CJK JP" licensed under the SIL Open Font License
*  https://www.google.com/get/noto/#/
*
=================================================== */
@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 100;
  src: url(../font/YakuHanJP/YakuHanJP-Thin.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Thin.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Thin.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 200;
  src: url(../font/YakuHanJP/YakuHanJP-Light.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Light.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Light.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 300;
  src: url(../font/YakuHanJP/YakuHanJP-DemiLight.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-DemiLight.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-DemiLight.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 400;
  src: url(../font/YakuHanJP/YakuHanJP-Regular.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Regular.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Regular.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 500;
  src: url(../font/YakuHanJP/YakuHanJP-Medium.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Medium.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Medium.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 700;
  src: url(../font/YakuHanJP/YakuHanJP-Bold.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Bold.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Bold.eot);
}

@font-face {
  font-family: 'YakuHanJP';
  font-style: normal;
  font-weight: 900;
  src: url(../font/YakuHanJP/YakuHanJP-Black.woff2) format("woff2"), url(../font/YakuHanJP/YakuHanJP-Black.woff) format("woff"), url(../font/YakuHanJP/YakuHanJP-Black.eot);
}

@font-face {
  font-family: 'MODERNESANS';
  src: url("/assets/font/modernesans.woff") format("woff");
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 400;
  src: url("/assets/font/NotoSansJP/NotoSansJPRegular.woff") format("woff");
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 200;
  src: url("/assets/font/NotoSansJP/NotoSansJPLight.woff") format("woff");
}

@font-face {
  font-family: 'NotoSansJP';
  font-style: normal;
  font-weight: 700;
  src: url("/assets/font/NotoSansJP/NotoSansJPBold.woff") format("woff");
}

html, body {
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #fff;
  font-family: MODERNESANS, 'YakuHanJP', 'NotoSansJP', sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 540px) {
  html, body {
    font-size: 12px;
  }
}

.desktop *::-moz-selection {
  background-color: #000 !important;
  color: #fff !important;
}

.desktop *::selection {
  background-color: #000 !important;
  color: #fff !important;
}

.breakall {
  word-break: break-all !important;
}

a {
  color: #000;
  text-decoration: none;
}

#wrapper {
  background-color: #fff;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.8s linear 0.8s;
  transition: opacity 0.8s linear 0.8s;
  background-color: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loading p {
  -webkit-transition: opacity 0.4s linear 0.8s;
  transition: opacity 0.4s linear 0.8s;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: loadingTxtAnim 0.6s linear alternate infinite;
          animation: loadingTxtAnim 0.6s linear alternate infinite;
}

#loading.loaded {
  opacity: 0;
}

#loading.loaded p {
  opacity: 0;
}

@-webkit-keyframes loadingTxtAnim {
  0% {
    opacity: 0;
  }
  1000% {
    opacity: 1;
  }
}

@keyframes loadingTxtAnim {
  0% {
    opacity: 0;
  }
  1000% {
    opacity: 1;
  }
}

#contents {
  width: 100%;
  margin: 0 auto;
  max-width: 1300px;
}

#contentsInner {
  overflow: hidden;
}

#contentsInner > .contentsTtl {
  z-index: 10;
}

body:not(.index) #contents {
  height: auto;
}

body:not(.index) #contentsInner {
  padding: 40px 60px 80px;
  min-height: 600px;
}

body:not(.index) #contentsInner > .contentsTtl {
  width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
}

body:not(.index) #contentsInner > .contentsTtl h1 {
  letter-spacing: 0.1em;
  font-size: 80px;
}

body:not(.index) #contentsInner > .contentsTtl h2 {
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.6;
}

@media screen and (max-width: 900px) {
  #contents {
    max-width: 100%;
  }
  #contentsInner {
    max-width: 100%;
    min-height: 0 !important;
  }
  body:not(.index) #contentsInner {
    padding: 40px 30px 80px !important;
  }
  body:not(.index) #contentsInner > .contentsTtl h1 {
    font-size: 40px;
  }
  body:not(.index) #contentsInner > .contentsTtl h2 {
    font-size: 10px;
    margin-top: 10px;
  }
}

#globalHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 82px;
  z-index: 30;
}

#globalHeader:before {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s, -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  content: '';
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
}

#globalHeader > .inner {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 2;
}

#globalHeader h1 {
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  top: 21px;
  left: 20px;
  width: 162px;
  height: 39px;
  z-index: 2;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

#globalHeader h1 a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0.1;
  display: block;
  width: 100%;
  height: 100%;
}

#globalHeader h1 .mark {
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 39px;
}

#globalHeader h1 .mark svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#globalHeader h1 .txt {
  position: absolute;
  top: 0;
  left: 41px;
  width: 121px;
  height: 39px;
}

#globalHeader h1 .txt svg {
  position: absolute;
  left: 0;
  top: 0;
}

.scrolled #globalHeader:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

body:not(.index):not(.hiding) #globalHeader h1 {
  z-index: 2;
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

body:not(.index):not(.hiding) #globalHeader h2 {
  display: none;
}

@media screen and (max-width: 900px) {
  #globalHeader {
    height: 54px;
  }
  #globalHeader > .inner {
    max-width: 100%;
  }
  #globalHeader h1 {
    z-index: 1 !important;
    top: 14px;
    left: 14px;
    width: 110px !important;
    height: 26px !important;
  }
  #globalHeader h1 .mark {
    width: 20px !important;
    height: 26px !important;
  }
  #globalHeader h1 .txt {
    left: 28px !important;
    width: 80px !important;
    height: 26px !important;
  }
}

#globalNav {
  position: absolute;
  right: 0;
  top: 0;
  padding: 30px 20px;
  width: 100%;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

#globalNav ul {
  letter-spacing: -0.4em;
  text-align: right;
}

#globalNav li {
  overflow: hidden;
  position: relative;
  letter-spacing: 0.1em;
  display: inline-block;
  margin: 0 10px;
  height: 26px;
}

#globalNav li a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

#globalNav li:before, #globalNav li:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

#globalNav li:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

#globalNav li:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

#globalNav li:last-child {
  margin-right: 0;
}

.desktop #globalNav li:hover a {
  color: #fff;
}

.desktop #globalNav li:hover:before, .desktop #globalNav li:hover:after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

#globalNav a {
  padding: 0 8px;
  line-height: 30px;
}

body:not(.index):not(.hiding) #globalNav {
  -webkit-transform: translateY(0%);
      -ms-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

@media screen and (max-width: 900px) {
  #globalNav {
    -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    transition: transform 0.8s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.8s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: translate(100%, 0%) !important;
        -ms-transform: translate(100%, 0%) !important;
            transform: translate(100%, 0%) !important;
    position: fixed;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    opacity: 1 !important;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
  }
  #globalNav ul {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 100%;
    text-align: center !important;
  }
  #globalNav li {
    width: 10em;
    display: block;
    font-size: 16px;
    margin: 40px auto 0 !important;
  }
  #globalNav li.index {
    margin-top: 0 !important;
  }
  #globalNav a {
    display: inline;
  }
  .menuOpened #globalNav {
    -webkit-transform: translate(0%, 0%) !important;
        -ms-transform: translate(0%, 0%) !important;
            transform: translate(0%, 0%) !important;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  #globalNav ul {
    position: relative;
  }
  #globalNav li {
    margin: 20px auto 0 !important;
  }
  #globalNav li.index {
    margin-top: 0 !important;
  }
}

#btnMenu {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  top: 16px;
  right: 14px;
  z-index: 30;
}

#btnMenu a {
  display: block;
  width: 100%;
  height: 100%;
}

#btnMenu span.txt {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0.1;
  font-size: 10px;
}

#btnMenu span {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #000;
  width: 100%;
  height: 3px;
  display: block;
}

#btnMenu span:nth-child(1) {
  -webkit-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
          transform: translateY(-8px);
}

#btnMenu span:nth-child(3) {
  -webkit-transform: translateY(8px);
      -ms-transform: translateY(8px);
          transform: translateY(8px);
}

.menuOpened #btnMenu span:nth-child(1) {
  -webkit-transform: translateY(0) rotate(-135deg);
      -ms-transform: translateY(0) rotate(-135deg);
          transform: translateY(0) rotate(-135deg);
}

.menuOpened #btnMenu span:nth-child(2) {
  opacity: 0;
}

.menuOpened #btnMenu span:nth-child(3) {
  -webkit-transform: translateY(0) rotate(135deg);
      -ms-transform: translateY(0) rotate(135deg);
          transform: translateY(0) rotate(135deg);
}

@media screen and (max-width: 900px) {
  #btnMenu {
    display: block;
  }
}

#mainVisual {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
}

.hide #mainVisual .loadingTxt {
  -webkit-animation: loadingTxtAnim 0.6s linear alternate infinite;
          animation: loadingTxtAnim 0.6s linear alternate infinite;
  opacity: 1;
  visibility: visible;
}

#mainVisual .loadingTxt {
  -webkit-transition: opacity 0.4s linear, visibility 0.4s linear;
  transition: opacity 0.4s linear, visibility 0.4s linear;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: 'Loading...';
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

#mainVisual canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

#mainVisual .shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: box-shadow 0.4s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  width: 100%;
  height: 0;
  box-shadow: 0 0 20px 4px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

#mainVisual .btnScroll {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75), visibility 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75), visibility 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  opacity: 0;
  visibility: hidden;
  width: 80px;
  height: 50px;
  bottom: 60px;
  z-index: 100;
  text-align: center;
}

#mainVisual .btnScroll a {
  display: block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  color: #000;
}

#mainVisual .btnScroll a:before, #mainVisual .btnScroll a:after {
  position: absolute;
  content: '';
  width: 20px;
  height: 3px;
  background-color: #000;
  bottom: 4px;
}

#mainVisual .btnScroll a:before {
  -webkit-animation: btnScrollArrowBefore 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
          animation: btnScrollArrowBefore 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  right: 50%;
}

#mainVisual .btnScroll a:after {
  -webkit-animation: btnScrollArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
          animation: btnScrollArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  left: 50%;
}

@-webkit-keyframes btnScrollArrowBefore {
  0% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
  20% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
}

@keyframes btnScrollArrowBefore {
  0% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
  20% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
}

@-webkit-keyframes btnScrollArrowAfter {
  0% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
  20% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
}

@keyframes btnScrollArrowAfter {
  0% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
  20% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
  100% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
}

.scrolled #mainVisual .btnScroll {
  -webkit-transition-delay: 0s !important;
          transition-delay: 0s !important;
  opacity: 0 !important;
  visibility: hidden !important;
}

#mainVisual:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: -webkit-radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.2) 180%), transparent;
  background: radial-gradient(circle, transparent 30%, rgba(0, 0, 0, 0.2) 180%), transparent;
}

#mainVisual:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background: -webkit-radial-gradient(circle, rgba(255, 255, 255, 0) 60%, white 110%), transparent;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 60%, white 110%), transparent;
  z-index: 2;
}

body:not(.index):not(.hiding) #mainVisual .shadow {
  opacity: 1 !important;
}

body:not(.index):not(.hiding) #mainVisual .btnScroll {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 900px) {
  #mainVisual .shadow {
    opacity: 0 !important;
  }
  #mainVisual .btnScroll {
    bottom: 40px;
    height: 40px;
  }
  #mainVisual .btnScroll a {
    font-size: 18px;
  }
  #mainVisual .btnScroll a:before, #mainVisual .btnScroll a:after {
    width: 16px;
    height: 3px;
  }
  body:not(.index):not(.hiding) #mainVisual .shadow {
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  }
}

.mainLogo {
  position: relative;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  width: 493px;
  height: 248px;
}

.mainLogo .mark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 135px;
  height: 175px;
}

.mainLogo .txt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 493px;
  height: 34px;
}

.mainLogo .txt svg {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 900px) {
  .mainLogo {
    width: 240px !important;
    height: 121px !important;
    margin-top: -85px !important;
    top: 50% !important;
    bottom: auto !important;
  }
  .mainLogo .mark {
    width: 66px !important;
    height: 85px !important;
  }
  .mainLogo .txt {
    width: 240px !important;
    height: 17px !important;
  }
}

@media only screen and (max-width: 900px) and (orientation: landscape) {
  .mainLogo {
    margin-top: -84px !important;
  }
}

.pagination {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  letter-spacing: -1em;
}

.pagination span {
  overflow: hidden;
  position: relative;
  display: inline-block;
  letter-spacing: normal;
  width: 40px;
  height: 40px;
  line-height: 45px;
  margin: 0 6px;
  position: relative;
  vertical-align: middle;
}

.pagination span a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.pagination span:before, .pagination span:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

.pagination span:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

.pagination span:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

.pagination span.dot:before, .pagination span.dot:after {
  display: none;
}

.pagination .prev a, .pagination .next a {
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 0.1;
}

.pagination .prev a:before, .pagination .prev a:after, .pagination .next a:before, .pagination .next a:after {
  -webkit-transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #000;
  position: absolute;
  content: '';
  width: 2px;
  height: 9px;
}

.pagination .prev a:before, .pagination .next a:before {
  bottom: 50%;
}

.pagination .prev a:after, .pagination .next a:after {
  top: 50%;
}

.pagination .prev a:before {
  -webkit-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
          transform-origin: 0 100%;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 16px;
}

.pagination .prev a:after {
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 16px;
}

.pagination .next a:before {
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 16px;
}

.pagination .next a:after {
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 16px;
}

.pagination .page {
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: 20px;
  display: none;
}

.desktop .pagination span:hover a,
.pagination span.current a {
  color: #fff;
}

.desktop .pagination span:hover:before, .desktop .pagination span:hover:after,
.pagination span.current:before,
.pagination span.current:after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.desktop .pagination span:hover.prev a:before, .desktop .pagination span:hover.prev a:after, .desktop .pagination span:hover.next a:before, .desktop .pagination span:hover.next a:after,
.pagination span.current.prev a:before,
.pagination span.current.prev a:after,
.pagination span.current.next a:before,
.pagination span.current.next a:after {
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .pagination .dot, .pagination .start, .pagination .end {
    display: none;
  }
  .pagination .page {
    display: block;
  }
}

@media screen and (max-width: 540px) {
  .pagination {
    margin-top: 20px;
  }
  .pagination span {
    width: 30px;
    height: 30px;
    line-height: 33px;
    margin: 0 1px;
  }
  .pagination .prev a:before, .pagination .prev a:after, .pagination .next a:before, .pagination .next a:after {
    width: 2px;
    height: 8px;
  }
  .pagination .prev a:before, .pagination .prev a:after {
    left: 10px;
  }
  .pagination .next a:before, .pagination .next a:after {
    right: 10px;
  }
}

.articles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.articles article {
  width: 30%;
  margin-bottom: 40px;
  position: relative;
  margin-right: 5%;
}

.articles article:nth-child(3n) {
  margin-right: 0;
}

.articles article a {
  display: block;
  width: 100%;
  height: 100%;
}

.articles article .thumb {
  width: 100%;
  margin-bottom: 14px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 1px #ddd;
}

.articles article .thumb canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.articles article .ttl {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.articles article .date {
  font-size: 12px;
  color: #999;
}

.articles article img {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  width: 100%;
  display: block;
  opacity: 0;
}

.articles article img.loaded {
  opacity: 1;
}

@media screen and (min-width: 540px) and (max-width: 900px) {
  .articles article {
    width: 48%;
    margin-right: 4% !important;
  }
  .articles article:nth-child(2n) {
    margin-right: 0 !important;
  }
  .articles article .thumb {
    margin-bottom: 10px;
  }
  .articles article .ttl {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .articles article .date {
    font-size: 10px;
  }
}

@media screen and (max-width: 540px) {
  .articles article {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .articles article .thumb {
    margin-bottom: 10px;
  }
  .articles article .ttl {
    font-size: 14px;
    margin-bottom: 6px;
  }
  .articles article .date {
    font-size: 10px;
  }
}

.tags, .categories, .monthlyArchives {
  letter-spacing: -0.4em;
}

.tags li, .categories li, .monthlyArchives li {
  overflow: hidden;
  position: relative;
  font-family: MODERNESANS, 'NotoSansJP', sans-serif;
  font-size: 12px;
  height: 24px;
  line-height: 26px;
  letter-spacing: 0.1em;
  display: inline-block;
  margin: 4px 4px 0 0;
  background-color: #999;
}

.tags li a, .categories li a, .monthlyArchives li a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.tags li:before, .tags li:after, .categories li:before, .categories li:after, .monthlyArchives li:before, .monthlyArchives li:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

.tags li:before, .categories li:before, .monthlyArchives li:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

.tags li:after, .categories li:after, .monthlyArchives li:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

.tags li a, .categories li a, .monthlyArchives li a {
  padding: 0 6px;
  color: #fff;
}

.desktop .tags li:hover a, .desktop .categories li:hover a, .desktop .monthlyArchives li:hover a {
  color: #fff;
}

.desktop .tags li:hover:before, .desktop .tags li:hover:after, .desktop .categories li:hover:before, .desktop .categories li:hover:after, .desktop .monthlyArchives li:hover:before, .desktop .monthlyArchives li:hover:after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.tags .year, .categories .year, .monthlyArchives .year {
  padding-top: 8px;
  font-size: 10px;
  line-height: 10px;
  display: block;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 4px;
}

.tags .month, .categories .month, .monthlyArchives .month {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.1em;
  display: block;
}

.tags a, .categories a, .monthlyArchives a {
  color: #999;
}

.monthlyArchives li {
  height: 46px;
}

@media screen and (max-width: 540px) {
  .tags li, .categories li, .monthlyArchives li {
    font-size: 10px;
  }
  .tags .month, .categories .month, .monthlyArchives .month {
    font-size: 16px;
    line-height: 16px;
  }
  .monthlyArchives li {
    height: 42px;
  }
  .monthlyArchives li a {
    padding: 0 4px;
  }
}

#searchPanel {
  margin-bottom: 60px;
  padding-top: 24px;
  position: relative;
}

#searchPanel:after {
  display: block;
  background-color: #ddd;
  width: auto;
  height: 1px;
  margin-top: 10px;
  content: '';
}

#searchPanel .btnCategories, #searchPanel .btnTags, #searchPanel .btnMonthlyArchives, #searchPanel .btnKeyword {
  overflow: hidden;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
  position: absolute;
  top: 0;
  display: inline-block;
  vertical-align: middle;
  height: 24px;
}

#searchPanel .btnCategories a, #searchPanel .btnTags a, #searchPanel .btnMonthlyArchives a, #searchPanel .btnKeyword a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

#searchPanel .btnCategories:before, #searchPanel .btnCategories:after, #searchPanel .btnTags:before, #searchPanel .btnTags:after, #searchPanel .btnMonthlyArchives:before, #searchPanel .btnMonthlyArchives:after, #searchPanel .btnKeyword:before, #searchPanel .btnKeyword:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

#searchPanel .btnCategories:before, #searchPanel .btnTags:before, #searchPanel .btnMonthlyArchives:before, #searchPanel .btnKeyword:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

#searchPanel .btnCategories:after, #searchPanel .btnTags:after, #searchPanel .btnMonthlyArchives:after, #searchPanel .btnKeyword:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

#searchPanel .btnCategories a, #searchPanel .btnTags a, #searchPanel .btnMonthlyArchives a, #searchPanel .btnKeyword a {
  display: block;
  padding: 0 6px 0 24px;
  height: 100%;
  line-height: 28px;
  font-size: 14px;
  position: relative;
}

#searchPanel .btnCategories a:before, #searchPanel .btnCategories a:after, #searchPanel .btnTags a:before, #searchPanel .btnTags a:after, #searchPanel .btnMonthlyArchives a:before, #searchPanel .btnMonthlyArchives a:after, #searchPanel .btnKeyword a:before, #searchPanel .btnKeyword a:after {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  content: '';
  position: absolute;
  width: 8px;
  height: 2px;
  background-color: #000;
}

#searchPanel .btnCategories a:before, #searchPanel .btnTags a:before, #searchPanel .btnMonthlyArchives a:before, #searchPanel .btnKeyword a:before {
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  left: 4px;
  -webkit-transform: translateY(-2px) rotate(-45deg);
      -ms-transform: translateY(-2px) rotate(-45deg);
          transform: translateY(-2px) rotate(-45deg);
  -webkit-transform-origin: 7px 1px;
      -ms-transform-origin: 7px 1px;
          transform-origin: 7px 1px;
}

#searchPanel .btnCategories a:after, #searchPanel .btnTags a:after, #searchPanel .btnMonthlyArchives a:after, #searchPanel .btnKeyword a:after {
  -webkit-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  left: 11px;
  -webkit-transform: translateY(-2px) rotate(45deg);
      -ms-transform: translateY(-2px) rotate(45deg);
          transform: translateY(-2px) rotate(45deg);
  -webkit-transform-origin: 1px 1px;
      -ms-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
}

#searchPanel .btnCategories.closed a:before, #searchPanel .btnTags.closed a:before, #searchPanel .btnMonthlyArchives.closed a:before, #searchPanel .btnKeyword.closed a:before {
  -webkit-transform: translateY(2px) rotate(45deg);
      -ms-transform: translateY(2px) rotate(45deg);
          transform: translateY(2px) rotate(45deg);
}

#searchPanel .btnCategories.closed a:after, #searchPanel .btnTags.closed a:after, #searchPanel .btnMonthlyArchives.closed a:after, #searchPanel .btnKeyword.closed a:after {
  -webkit-transform: translateY(2px) rotate(-45deg);
      -ms-transform: translateY(2px) rotate(-45deg);
          transform: translateY(2px) rotate(-45deg);
}

#searchPanel .btnTags {
  left: 0;
}

#searchPanel .btnMonthlyArchives {
  left: 90px;
}

#searchPanel .btnKeyword {
  left: 284px;
}

#searchPanel.hasCategories .btnCategories {
  left: 0;
}

#searchPanel.hasCategories .btnTags {
  left: 140px;
}

#searchPanel.hasCategories .btnMonthlyArchives {
  left: 230px;
}

#searchPanel.hasCategories .btnKeyword {
  left: 424px;
}

.desktop #searchPanel .btnCategories:hover a,
.desktop #searchPanel .btnTags:hover a,
.desktop #searchPanel .btnMonthlyArchives:hover a,
.desktop #searchPanel .btnKeyword:hover a,
#searchPanel .btnCategories:not(.closed) a,
#searchPanel .btnTags:not(.closed) a,
#searchPanel .btnMonthlyArchives:not(.closed) a,
#searchPanel .btnKeyword:not(.closed) a {
  color: #fff;
}

.desktop #searchPanel .btnCategories:hover:before, .desktop #searchPanel .btnCategories:hover:after,
.desktop #searchPanel .btnTags:hover:before,
.desktop #searchPanel .btnTags:hover:after,
.desktop #searchPanel .btnMonthlyArchives:hover:before,
.desktop #searchPanel .btnMonthlyArchives:hover:after,
.desktop #searchPanel .btnKeyword:hover:before,
.desktop #searchPanel .btnKeyword:hover:after,
#searchPanel .btnCategories:not(.closed):before,
#searchPanel .btnCategories:not(.closed):after,
#searchPanel .btnTags:not(.closed):before,
#searchPanel .btnTags:not(.closed):after,
#searchPanel .btnMonthlyArchives:not(.closed):before,
#searchPanel .btnMonthlyArchives:not(.closed):after,
#searchPanel .btnKeyword:not(.closed):before,
#searchPanel .btnKeyword:not(.closed):after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.desktop #searchPanel .btnCategories:hover a:before, .desktop #searchPanel .btnCategories:hover a:after,
.desktop #searchPanel .btnTags:hover a:before,
.desktop #searchPanel .btnTags:hover a:after,
.desktop #searchPanel .btnMonthlyArchives:hover a:before,
.desktop #searchPanel .btnMonthlyArchives:hover a:after,
.desktop #searchPanel .btnKeyword:hover a:before,
.desktop #searchPanel .btnKeyword:hover a:after,
#searchPanel .btnCategories:not(.closed) a:before,
#searchPanel .btnCategories:not(.closed) a:after,
#searchPanel .btnTags:not(.closed) a:before,
#searchPanel .btnTags:not(.closed) a:after,
#searchPanel .btnMonthlyArchives:not(.closed) a:before,
#searchPanel .btnMonthlyArchives:not(.closed) a:after,
#searchPanel .btnKeyword:not(.closed) a:before,
#searchPanel .btnKeyword:not(.closed) a:after {
  background-color: #fff;
}

#searchPanel .keyword {
  -webkit-transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  vertical-align: middle;
  letter-spacing: -0.4em;
  overflow: hidden;
}

#searchPanel .keyword form {
  padding-top: 20px;
  padding-bottom: 20px;
  display: block;
}

#searchPanel .keyword input[type="text"] {
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  width: 200px;
  height: 26px;
  border: 2px solid #999;
  border-radius: 0;
  box-shadow: none !important;
  outline: none !important;
  font-family: MODERNESANS, 'YakuHanJP', 'NotoSansJP', sans-serif;
}

#searchPanel .keyword .btnSubmit {
  overflow: hidden;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  border-radius: 0;
  box-shadow: none;
  background-color: #999;
  height: 26px;
}

#searchPanel .keyword .btnSubmit a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

#searchPanel .keyword .btnSubmit:before, #searchPanel .keyword .btnSubmit:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

#searchPanel .keyword .btnSubmit:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

#searchPanel .keyword .btnSubmit:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

#searchPanel .keyword .btnSubmit a {
  letter-spacing: normal;
  color: #fff;
  padding: 0 10px;
  line-height: 28px;
}

.desktop #searchPanel .keyword .btnSubmit:hover a {
  color: #fff;
}

.desktop #searchPanel .keyword .btnSubmit:hover:before, .desktop #searchPanel .keyword .btnSubmit:hover:after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

#searchPanel .categories, #searchPanel .tags, #searchPanel .monthlyArchives {
  -webkit-transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
}

#searchPanel .categories ul, #searchPanel .tags ul, #searchPanel .monthlyArchives ul {
  padding-top: 16px;
  padding-bottom: 20px;
}

#searchPanel .categories.closed, #searchPanel .tags.closed, #searchPanel .monthlyArchives.closed, #searchPanel .keyword.closed {
  height: 0 !important;
}

.detail #searchPanel .btnCategories, .detail #searchPanel .btnTags, .detail #searchPanel .btnMonthlyArchives, .detail #searchPanel .btnKeyword {
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transform: translateX(100px);
      -ms-transform: translateX(100px);
          transform: translateX(100px);
}

@media screen and (min-width: 540px) and (max-width: 900px) {
  #searchPanel {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 700px) {
  #searchPanel {
    margin-bottom: 40px;
    padding-top: 0;
  }
  #searchPanel .btnCategories, #searchPanel .btnTags, #searchPanel .btnMonthlyArchives, #searchPanel .btnKeyword {
    height: 30px;
    position: relative;
    top: 0;
    left: 0 !important;
  }
  #searchPanel .btnCategories a, #searchPanel .btnTags a, #searchPanel .btnMonthlyArchives a, #searchPanel .btnKeyword a {
    line-height: 30px;
  }
  #searchPanel .keyword {
    margin-bottom: 0;
  }
  #searchPanel .keyword form {
    padding-top: 10px;
    padding-bottom: 0;
  }
  #searchPanel .keyword input[type="text"] {
    margin-bottom: 10px;
    margin-right: 2px;
    width: 180px;
  }
  #searchPanel .keyword .btnSubmit {
    margin-bottom: 10px;
  }
  #searchPanel .tags, #searchPanel .monthlyArchives {
    margin-bottom: 0;
  }
  #searchPanel .tags ul, #searchPanel .monthlyArchives ul {
    padding-top: 6px;
    padding-bottom: 10px;
  }
  .detail #searchPanel .btnCategories, .detail #searchPanel .btnTags, .detail #searchPanel .btnMonthlyArchives, .detail #searchPanel .btnKeyword {
    -webkit-transform: none !important;
        -ms-transform: none !important;
            transform: none !important;
  }
}

.relatedTtl {
  font-size: 24px;
  margin: 100px 0 20px;
}

@media screen and (max-width: 900px) {
  .relatedTtl {
    font-size: 18px;
    margin: 60px 0 20px;
  }
}

.btnBack {
  overflow: hidden;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1), visibility 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
  visibility: hidden;
  opacity: 0;
  height: 24px;
}

.btnBack a {
  -webkit-transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: color 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.btnBack:before, .btnBack:after {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  height: 100%;
  width: 100%;
}

.btnBack:before {
  -webkit-transform: translateX(104%);
      -ms-transform: translateX(104%);
          transform: translateX(104%);
}

.btnBack:after {
  -webkit-transform: translateX(-104%);
      -ms-transform: translateX(-104%);
          transform: translateX(-104%);
}

.btnBack a {
  padding: 0 6px 0 24px;
  line-height: 28px;
  position: relative;
  font-size: 14px;
}

.btnBack a:before, .btnBack a:after {
  -webkit-transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: background-color 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  position: absolute;
  content: '';
  background-color: #000;
  width: 2px;
  height: 8px;
  left: 8px;
}

.btnBack a:before {
  -webkit-transform-origin: 1px 7px;
      -ms-transform-origin: 1px 7px;
          transform-origin: 1px 7px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 5px;
}

.btnBack a:after {
  -webkit-transform-origin: 1px 1px;
      -ms-transform-origin: 1px 1px;
          transform-origin: 1px 1px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
}

.desktop .btnBack:hover a {
  color: #fff;
}

.desktop .btnBack:hover:before, .desktop .btnBack:hover:after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.desktop .btnBack:hover a:before, .desktop .btnBack:hover a:after {
  background-color: #fff;
}

.detail .btnBack {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 700px) {
  .btnBack {
    position: relative;
    display: inline-block;
    -webkit-transition: margin-top 0.4s cubic-bezier(0.19, 1, 0.22, 1), height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: margin-top 0.4s cubic-bezier(0.19, 1, 0.22, 1), height 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    visibility: visible;
    opacity: 1;
    height: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .detail .btnBack {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    margin-top: 20px;
    height: 24px;
  }
}

.btnScrollTop {
  position: fixed;
  -webkit-transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75), visibility 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  transition: opacity 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75), visibility 0.2s cubic-bezier(0.25, 0.25, 0.75, 0.75);
  opacity: 0;
  visibility: hidden;
  bottom: 0;
  right: 0;
  z-index: 100;
  text-align: center;
}

.btnScrollTop a {
  display: block;
  font-size: 18px;
  width: 100%;
  height: 100%;
  color: #000;
  padding: 34px 16px 16px;
}

.btnScrollTop a:before, .btnScrollTop a:after {
  position: absolute;
  content: '';
  width: 18px;
  height: 3px;
  background-color: #000;
  top: 8px;
}

.btnScrollTop a:before {
  -webkit-animation: btnScrollTopArrowBefore 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
          animation: btnScrollTopArrowBefore 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  right: 50%;
}

.btnScrollTop a:after {
  -webkit-animation: btnScrollTopArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
          animation: btnScrollTopArrowAfter 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg);
  left: 50%;
}

body:not(.index).scrolled .btnScrollTop {
  opacity: 1;
  visibility: visible;
}

@-webkit-keyframes btnScrollTopArrowBefore {
  0% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
  20% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
}

@keyframes btnScrollTopArrowBefore {
  0% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
  20% {
    -webkit-transform: translateY(-100%) rotate(-30deg);
            transform: translateY(-100%) rotate(-30deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(-30deg);
            transform: translateY(100%) rotate(-30deg);
  }
}

@-webkit-keyframes btnScrollTopArrowAfter {
  0% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
  20% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
}

@keyframes btnScrollTopArrowAfter {
  0% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
  20% {
    -webkit-transform: translateY(-100%) rotate(30deg);
            transform: translateY(-100%) rotate(30deg);
  }
  100% {
    -webkit-transform: translateY(100%) rotate(30deg);
            transform: translateY(100%) rotate(30deg);
  }
}

@media screen and (max-width: 900px) {
  .btnScrollTop {
    background-color: rgba(255, 255, 255, 0.6);
  }
  .btnScrollTop a {
    font-size: 14px;
    padding: 32px 12px 8px;
  }
  .btnScrollTop a:before, .btnScrollTop a:after {
    top: 12px;
    width: 13px;
    height: 2px;
  }
}

#svgDef {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -10;
  width: 0;
  height: 0;
  overflow: hidden;
}

#svgDef svg {
  width: 0;
  height: 0;
}

.wp_syntax td.line_numbers pre {
  box-sizing: content-box;
}
