//- src/assets/_layout/_default.jadeを継承
extends /assets/_layout/_default.jade

//- meta設定
block vars
  - var title = 'About | Takumi Hasegawa';
  - var description = 'My skills and contact information.';
  - var keywords = 'skill, contact, font-end engineer, technical director, web, website, programming, Javascript, HTML, CSS, Action Script, openFrameworks, Unity, C++, C#, digital contents';
  - var bodyClass = 'about';

//- ページ個別のCSS
block css
  link(rel="stylesheet", media="all", href="/assets/css/about.css", type="text/css")

//- ページ個別のJS
block script
  script(src="/assets/js/about.js", type="text/javascript")

//- ここからコンテンツ部分を記述
block contents
  header.contentsTtl
    h1
      |About
    h2
      |My skills and contact information.
    
  div.mainLogo
    span.txt
      svg(viewBox="0 0 492.6 34.1")
        use(xlink:href="#logoTxt")
    span.mark
      svg(viewBox="0 0 134.4 173.9")
        use(xlink:href="#logoMark")
      
              
  div.description
    p
      |I'm a developer / technical director.
        
    
  h2.ttl
    |Skills
    
  ul.skills
    li
      |HTML
    li
      |CSS
    li
      |Sass
    li
      |SCSS
    li
      |JavaScript
    li
      |WebGL
    li
      |GLSL
    li
      |three.js
    li
      |Pixi.js
    li
      |GSAP (TweenMax)
    li
      |jQuery
    li
      |FLASH
    li
      |Adobe AIR
    li
      |ActionScript
    li
      |Unity
    li
      |openFrameworks
    li
      |Creative coding
    li
      |Node.js
    li
      |CoffeeScript
    li
      |Jade
    li
      |gulp.js
    li
      |Grunt
    li
      |PHP
    li
      |MySQL
    li
      |WordPress
    li
      |MovableType
    li
      |Linux
    li
      |CentOS
    li
      |Git
              
  h2.ttl
    |Contact
    
  p.email.
    <a class="notransition" href="ma&#105;l&#116;&#111;&#58;i&#110;f&#111;&#64;t&#107;m&#104;&#46;m&#101;" target="_blank">&#105;&#110;&#102;o&#64;&#116;km&#104;.&#109;e</a>
    
  ul.sns
    li.facebook
      a(href="https://www.facebook.com/takumi0125", target="_blank")
        svg(viewBox="0 0 160 160")
          use(xlink:href="#iconFacebook")
    li.twitter
      a(href="https://twitter.com/tkm0125", target="_blank")
        svg(viewBox="0 0 160 160")
          use(xlink:href="#iconTwitter")
    li.instagram
      a(href="https://www.instagram.com/tkm0125/", target="_blank")
        svg(viewBox="0 0 160 160")
          use(xlink:href="#iconInstagram")
    li.pinterest
      a(href="https://jp.pinterest.com/takumi0125/", target="_blank")
        span
          svg(viewBox="0 0 160 160")
            use(xlink:href="#iconPinterest")
    li.tumblr
      a(href="http://tkm0125.tumblr.com/", target="_blank")
        span
          svg(viewBox="0 0 160 160")
            use(xlink:href="#iconTumblr")
    li.flickr
      a(href="https://www.flickr.com/photos/takumi0125/", target="_blank")
        span
          svg(viewBox="0 0 160 160")
            use(xlink:href="#iconFlickr")
    li.github
      a(href="https://github.com/takumi0125", target="_blank")
        span
          svg(viewBox="0 0 160 160")
            use(xlink:href="#iconGithub")
    
