//- src/assets/_layout/_default.jadeを継承
extends /assets/_layout/_default.jade

//- meta設定
block vars
  - var title = 'Takumi Hasegawa';
  - var description = 'I\'m a front-end engineer / technical director.';
  - var keywords = 'font-end engineer, technical director, web, website, programming, Javascript, HTML, CSS, Action Script, openFrameworks, Unity, C++, C#, digital contents';
  - var bodyClass = 'index';

//- ページ個別のCSS
block css
  link(rel="stylesheet", media="all", href="/assets/css/index.css", type="text/css")

//- ページ個別のJS
block script
  script(src="/assets/js/index.js", type="text/javascript")

//- ここからコンテンツ部分を記述
block contents
  div.mainLogo
    span.txt
      svg(viewBox="0 0 492.6 34.1")
        use(xlink:href="#logoTxt")
    span.mark
      svg(viewBox="0 0 134.4 173.9")
        use(xlink:href="#logoMark")
          
  h2
    |I'm a front-end engineer / technical director.
    
  nav#topGlobalNav
    ul
      li.works
        a(href="/works/")
          |Works
      li.blog
        a(href="/blog/")
          |Blog
      li.bookmarks
        a(href="/bookmarks/")
          |Bookmarks
      li.about
        a(href="/about/")
          |About
      //- li.contact.notransition
      //-   <a href="ma&#105;l&#116;&#111;&#58;i&#110;f&#111;&#64;t&#107;m&#104;&#46;m&#101;" target="_blank">Contact</a>

            
  
    
  
