//- src/assets/_layout/_default.jadeを継承
extends /assets/_layout/_default.jade

//- meta設定
block vars
  - var title = 'Bookmarks | Takumi Hasegawa';
  - var description = 'My favorite website collection.';
  - var keywords = 'bookmarks, developer, technical director, web, website, programming, Javascript, HTML, CSS, Action Script, openFrameworks, Unity, C++, C#, digital contents';
  - var bodyClass = 'bookmarks';

//- ページ個別のCSS
block css
  link(rel="stylesheet", media="all", href="/assets/css/bookmarks.css", type="text/css")

//- ページ個別のJS
block script
  script(src="/assets/js/bookmarks.js", type="text/javascript")

//- ここからコンテンツ部分を記述
block contents
  header.contentsTtl
    h1
      |Bookmarks
    h2
      |My favorite website collection.
    
  +searchPanel
  
  div.inner
    section.articles
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
      article
        div.thumb
          img(src="/dummy/tkmh.me_400.jpg")
          p.detail
            a(href="/bookmarks/detail.html")
              span
                |View detail
          p.link
            a(href="#", target="_blank")
              span
                |Visit this site
        h2.ttl
          |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
        p.date
          |2016.06.20
        
    +pageNavi
      
    
