//- src/assets/_layout/_default.jadeを継承
extends /assets/_layout/_default.jade

//- meta設定
block vars
  - var title = 'Blog | Takumi Hasegawa';
  - var description = 'Development and Information etc...';
  - var keywords = 'blog, developer, technical director, web, website, programming, Javascript, HTML, CSS, Action Script, openFrameworks, Unity, C++, C#, digital contents';
  - var bodyClass = 'blog';

//- ページ個別のCSS
block css
  link(rel="stylesheet", media="all", href="/assets/css/blog.css", type="text/css")

//- ページ個別のJS
block script
  script(src="/assets/js/blog.js", type="text/javascript")

//- ここからコンテンツ部分を記述
block contents
  header.contentsTtl
    h1
      |Blog
    h2
      |Development and Information etc...
  
  +searchPanel(true)
  
  div.inner
    h2.archiveTtl
      |Tag: webGL
    
    section.articles
      article
        a(href="/blog/detail.html")
          div.thumb
            img(src="/dummy/thumb.png")
            p.detail
              span
                |View detail
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
            p.detail
              span
                |View detail
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
      article
        a(href="#")
          div.thumb
            img(src="/dummy/thumb.png")
          h2.ttl
            |タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
          p.date
            |2016.06.20
            
    +pageNavi
      
